<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puppy Dashboard</title>
</head>

<body>
    <h1>Puppy Dashboard</h1>
    <a href="/dog/new">Add a new puppy</a>
    <hr>
    <div>
        <% for(let x in Dogs){%>
            <h3><a href="/dog/<%=Dogs[x]._id%>">Name: <%=Dogs[x].name%></a> </h3>
            <h4>Type: <%=Dogs[x].type%></h4>
            <h4>Fav Food: <%=Dogs[x].favorite_food%></h4>
            <hr>
        <%}%>
    </div>
</body>

</html>