<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>

<body>
    <h1>Puppy Dashboard</h1>
    <form action="/dog" method="POST">
        Name:
        <input type="text" name="name"> Type:
        <input type="text" name="type">
        Favorite Food: <input type="text" name="favorite_food">
        <input type="submit">
    </form>
</body>

</html>